body {
  background-color: #313d52; }

.continer {
  width: 400px;
  height: 400px;
  margin: 150px auto; }
  .continer h1 {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-weight: normal; }
  .continer .box {
    width: 120pX;
    height: 120px;
    background-color: rgba(214, 214, 214, 0.315);
    margin: 5px;
    font-size: 110px;
    text-align: center;
    color: honeydew;
    font-family: sans-serif;
    cursor: pointer;
    float: left;
    border-style: solid;
    border-width: 1px; }
  .continer .box:hover {
    background-color: rgba(63, 63, 63, 0.507); }
